$primary-font: Poppins, sans-serif;
$primary-text-color: #FFF;

html {
  height: 100%;
  font-size: 24px;
}

body {
  margin: 0 auto;
  max-width: 60%;
  background-color: #202020;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: $primary-font;
}

h1 {
  font-size: 2.5em;
  color: $primary-text-color;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  color: $primary-text-color;
  margin: 0;
}

button {
  display: block;
  width: 100%;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: 1em;
  transition: background-color 0.5s;
  transition: font-size 0.5s;

  &:hover {
    background-color: #2D2D2D;
    font-size: 1.2em;
  }
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.header-wrapper {
  text-align: left;
  margin-top: 5%;
}

.nav-bar {
  height: 10%;
  justify-content: space-between;
}
