html {
  height: 100%;
  font-size: 24px; }
  @media (max-width: 300px) and (orientation: portrait) {
    html {
      font-size: 18px; } }
  @media (max-width: 530px) and (orientation: landscape) {
    html {
      font-size: 18px; } }
  @media (min-width: 301px) and (max-width: 360px) and (orientation: portrait) {
    html {
      font-size: 20px; } }
  @media (min-width: 531px) and (max-width: 640px) and (orientation: landscape) {
    html {
      font-size: 20px; } }
  @media (min-width: 361px) and (max-width: 450px) and (orientation: portrait) {
    html {
      font-size: 21px; } }
  @media (min-width: 641px) and (max-width: 800px) and (orientation: landscape) {
    html {
      font-size: 21px; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    html {
      font-size: 27px; } }

body {
  margin: 0 auto;
  max-width: 60%;
  background-color: #202020; }
  @media (max-width: 300px) and (orientation: portrait) {
    body {
      max-width: 96%; } }
  @media (max-width: 530px) and (orientation: landscape) {
    body {
      max-width: 96%; } }
  @media (min-width: 301px) and (max-width: 360px) and (orientation: portrait) {
    body {
      max-width: 96%; } }
  @media (min-width: 531px) and (max-width: 640px) and (orientation: landscape) {
    body {
      max-width: 97%; } }
  @media (min-width: 361px) and (max-width: 450px) and (orientation: portrait) {
    body {
      max-width: 96%; } }
  @media (min-width: 641px) and (max-width: 800px) and (orientation: landscape) {
    body {
      max-width: 97%; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    body {
      max-width: 96%; } }

h1, h2, h3, h4, h5, h6, p {
  font-family: Poppins, sans-serif;
  color: #FFF; }

h1 {
  font-size: 2.5em;
  margin: 0; }
  @media (max-width: 300px) and (orientation: portrait) {
    h1 {
      font-size: 2.4rem; } }
  @media (max-width: 530px) and (orientation: landscape) {
    h1 {
      font-size: 2.6rem; } }
  @media (min-width: 301px) and (max-width: 360px) and (orientation: portrait) {
    h1 {
      font-size: 2.7rem; } }
  @media (min-width: 531px) and (max-width: 640px) and (orientation: landscape) {
    h1 {
      font-size: 2.8rem; } }
  @media (min-width: 361px) and (max-width: 450px) and (orientation: portrait) {
    h1 {
      font-size: 3rem; } }
  @media (min-width: 641px) and (max-width: 800px) and (orientation: landscape) {
    h1 {
      font-size: 2.8rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    h1 {
      font-size: 2.6rem; } }

h2 {
  font-size: 1.5rem;
  margin: 0; }
  @media (max-width: 300px) and (orientation: portrait) {
    h2 {
      font-size: 1.2rem; } }

p {
  font-size: 1rem; }

button {
  display: block;
  width: 100%;
  max-width: 23%;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: #FFF;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  transition: background-color 0.5s, font-size 1s; }
  @media (max-width: 300px) and (orientation: portrait) {
    button {
      max-width: 50%; } }
  @media (max-width: 530px) and (orientation: landscape) {
    button {
      max-width: 24%; } }
  @media (min-width: 301px) and (max-width: 360px) and (orientation: portrait) {
    button {
      max-width: 50%; } }
  @media (min-width: 531px) and (max-width: 640px) and (orientation: landscape) {
    button {
      max-width: 24%; } }
  @media (min-width: 361px) and (max-width: 450px) and (orientation: portrait) {
    button {
      max-width: 50%; } }
  @media (min-width: 641px) and (max-width: 800px) and (orientation: landscape) {
    button {
      max-width: 24%; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    button {
      max-width: 24%; } }
  button:hover, button:active {
    cursor: pointer;
    background-color: #2D2D2D; }
  button:focus {
    background-color: #2D2D2D;
    outline: none; }

::selection {
  color: #2D2D2D;
  background-color: #FFF;
  outline: none; }

.flex-row-container {
  display: flex;
  flex-direction: row; }

.flex-col-container {
  display: flex;
  flex-direction: column; }

.center-text {
  text-align: center; }

.left-text {
  text-align: left; }

.header-wrapper {
  margin-top: 5%; }
  @media (max-width: 300px) and (orientation: portrait) {
    .header-wrapper {
      margin: 0;
      text-align: center;
      line-height: 1.2; } }
  @media (max-width: 530px) and (orientation: landscape) {
    .header-wrapper {
      margin-top: 1%;
      text-align: left;
      line-height: 1.2; } }
  @media (min-width: 301px) and (max-width: 360px) and (orientation: portrait) {
    .header-wrapper {
      margin-top: 2%;
      text-align: center;
      line-height: 1.2; } }
  @media (min-width: 531px) and (max-width: 640px) and (orientation: landscape) {
    .header-wrapper {
      margin: 0;
      text-align: left;
      line-height: 1.35; } }
  @media (min-width: 361px) and (max-width: 450px) and (orientation: portrait) {
    .header-wrapper {
      margin-top: 1%;
      text-align: center;
      line-height: 1.1; } }
  @media (min-width: 641px) and (max-width: 800px) and (orientation: landscape) {
    .header-wrapper {
      margin: 0;
      text-align: left;
      line-height: 1.3; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .header-wrapper {
      margin-top: 1%;
      text-align: left;
      line-height: 1.3; } }

.nav-bar {
  height: 10%;
  width: 100%;
  justify-content: space-between; }
  @media (max-width: 300px) and (orientation: portrait) {
    .nav-bar {
      height: 20%;
      flex-wrap: wrap; } }
  @media (max-width: 530px) and (orientation: landscape) {
    .nav-bar {
      height: 20%; } }
  @media (min-width: 301px) and (max-width: 360px) and (orientation: portrait) {
    .nav-bar {
      height: 20%;
      flex-wrap: wrap; } }
  @media (min-width: 531px) and (max-width: 640px) and (orientation: landscape) {
    .nav-bar {
      height: 15%; } }
  @media (min-width: 361px) and (max-width: 450px) and (orientation: portrait) {
    .nav-bar {
      height: 15%;
      flex-wrap: wrap; } }
  @media (min-width: 641px) and (max-width: 800px) and (orientation: landscape) {
    .nav-bar {
      height: 15%; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .nav-bar {
      height: 8%; } }

.tab-container {
  width: 100%;
  margin-top: 2%; }

.hidden {
  display: none; }

.projects {
  width: 100%; }

.project-preview {
  height: 40%;
  width: 100%;
  margin: 0 auto; }

.image-wrapper {
  width: 100%;
  margin: 0 auto;
  transition: box-shadow, 0.5s; }
  @media (max-width: 530px) and (orientation: landscape) {
    .image-wrapper {
      width: 42%; } }
  @media (min-width: 531px) and (max-width: 640px) and (orientation: landscape) {
    .image-wrapper {
      width: 50%; } }
  @media (min-width: 641px) and (max-width: 800px) and (orientation: landscape) {
    .image-wrapper {
      width: 50%; } }
  .image-wrapper:hover {
    cursor: pointer;
    box-shadow: 0 0 20px -2px #FFF; }

.preview-image {
  max-width: 100%;
  max-height: 100%;
  height: auto; }

.title-anchor {
  text-decoration: none; }

.paragraph-anchor {
  color: inherit; }

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8); }

.active {
  display: flex;
  flex-direction: row;
  align-items: center; }

.modal-content-wrapper {
  width: 80%;
  height: auto;
  margin: 0 auto;
  justify-content: center; }

.modal-image {
  max-width: 100%;
  max-height: 100%;
  align-self: center; }

.modal-exit {
  width: 0;
  height: 0;
  overflow: visible;
  margin-left: 2%;
  font-family: Poppins, sans-serif;
  color: #FFF;
  font-size: 2em; }
  .modal-exit:hover, .modal-exit:focus {
    cursor: pointer;
    color: #8C8C8C; }

.tools {
  width: 100%;
  flex-wrap: wrap; }

.tool-container {
  width: 33%;
  height: 50%; }
  @media (max-width: 300px) and (orientation: portrait) {
    .tool-container {
      width: 50%; } }
  @media (min-width: 301px) and (max-width: 360px) and (orientation: portrait) {
    .tool-container {
      width: 50%; } }
  @media (min-width: 361px) and (max-width: 450px) and (orientation: portrait) {
    .tool-container {
      width: 50%; } }

.tool-icon {
  flex: 1;
  min-height: 0;
  object-fit: contain; }

.no-decoration {
  text-decoration: none; }

.paragraph-container {
  width: 100%;
  margin: 0 auto; }

.contact-info-container {
  width: 100%;
  margin: 0 auto; }

.contact-info-row {
  align-items: center;
  justify-content: center; }

.contact-icon-wrapper {
  margin-right: 2%; }
  @media (max-width: 530px) and (orientation: landscape) {
    .contact-icon-wrapper {
      width: 11%; } }
  @media (min-width: 301px) and (max-width: 360px) and (orientation: portrait) {
    .contact-icon-wrapper {
      width: 10%; } }
  @media (min-width: 531px) and (max-width: 640px) and (orientation: landscape) {
    .contact-icon-wrapper {
      width: 7%; } }
  @media (min-width: 361px) and (max-width: 450px) and (orientation: portrait) {
    .contact-icon-wrapper {
      width: 12%; } }
  @media (min-width: 641px) and (max-width: 800px) and (orientation: landscape) {
    .contact-icon-wrapper {
      width: 7%; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .contact-icon-wrapper {
      width: 8%; } }

.contact-icon-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0; }
