html {
  height: 100%;
  font-size: 24px; }
  @media (max-width: 300px) {
    html {
      font-size: 18px; } }

body {
  margin: 0 auto;
  max-width: 60%;
  background-color: #202020; }
  @media (max-width: 300px) {
    body {
      max-width: 98%; } }

h1, h2, h3, h4, h5, h6, p {
  font-family: Poppins, sans-serif;
  color: #FFF; }

h1 {
  font-size: 2.5em;
  margin: 0; }
  @media (max-width: 300px) {
    h1 {
      font-size: 2rem; } }

h2 {
  font-size: 1.5em;
  margin: 0; }
  @media (max-width: 300px) {
    h2 {
      font-size: 1.2rem; } }

p {
  font-size: 1em; }

button {
  display: block;
  width: 100%;
  max-width: 23%;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: #FFF;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  transition: background-color 0.5s, font-size 1s; }
  button:hover, button:active {
    cursor: pointer;
    background-color: #2D2D2D;
    font-size: 1.2em; }
  button:focus {
    background-color: #2D2D2D;
    font-size: 1.2em;
    outline: none; }

::selection {
  color: #2D2D2D;
  background-color: #FFF;
  outline: none; }

.flex-row-container {
  display: flex;
  flex-direction: row; }

.flex-col-container {
  display: flex;
  flex-direction: column; }

.center-text {
  text-align: center; }

.left-text {
  text-align: left; }

.header-wrapper {
  margin-top: 5%; }
  @media (max-width: 300px) {
    .header-wrapper {
      margin: 0;
      text-align: center; } }

.nav-bar {
  height: 10%;
  width: 100%;
  justify-content: space-between; }

.main-content-container {
  height: 65%; }

.tab-container {
  width: 100%;
  height: 100%;
  margin-top: 2%; }

.hidden {
  display: none; }

.projects {
  height: 100%;
  width: 100%; }

.project-preview {
  height: 40%;
  width: 55%;
  margin: 0 auto; }

.image-wrapper {
  width: 100%;
  background-color: #FFF;
  transition: box-shadow, 0.5s; }
  .image-wrapper:hover {
    cursor: pointer;
    box-shadow: 0 0 20px -2px #FFF; }

.preview-image {
  max-width: 100%;
  height: auto; }

.title-anchor {
  text-decoration: none; }

.paragraph-anchor {
  color: inherit; }

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8); }

.active {
  display: flex;
  flex-direction: row;
  align-items: center; }

.modal-content-wrapper {
  width: 80%;
  height: auto;
  margin: 0 auto;
  justify-content: center; }

.modal-image {
  max-width: 100%;
  max-height: 100%;
  align-self: center; }

.modal-exit {
  width: 0;
  height: 0;
  overflow: visible;
  margin-left: 2%;
  font-family: Poppins, sans-serif;
  color: #FFF;
  font-size: 2em; }
  .modal-exit:hover, .modal-exit:focus {
    cursor: pointer;
    color: #8C8C8C; }

.tools {
  width: 100%;
  height: 100%;
  flex-wrap: wrap; }

.tool-container {
  width: 33%;
  height: 50%; }

.tool-icon {
  flex: 1;
  min-height: 0;
  object-fit: contain; }

.no-decoration {
  text-decoration: none; }

.paragraph-container {
  width: 40%;
  margin: 0 auto; }

.contact-info-container {
  width: 40%;
  margin: 0 auto; }

.contact-info-row {
  align-items: center;
  justify-content: center; }

.contact-icon-anchor {
  width: 20%;
  margin-right: 2%; }

.contact-icon-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0; }
