$primary-font: Poppins, sans-serif;
$primary-text-color: #FFF;

html {
  height: 100%;
  font-size: 24px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: $primary-font;
}

h1 {
  font-size: 5em;
  color: $primary-text-color;
  margin: 0;
}

h2 {
  font-size: 2em;
  color: $primary-text-color;
  margin: 0;
}

.banner-bkg {
  background-color: #475B55;
  height: 30%;
  text-align: center;
}

.text-outline {
  $shadow-distance: 2px;
  $shadow-blur: 0;
  $shadow-color: #000;

  text-shadow:
    $shadow-distance $shadow-distance $shadow-blur $shadow-color,
    (-$shadow-distance) $shadow-distance $shadow-blur $shadow-color,
    (-$shadow-distance) (-$shadow-distance) $shadow-blur $shadow-color,
    $shadow-distance (-$shadow-distance) $shadow-blur $shadow-color;
}
