$primary-font: Poppins, sans-serif;
$primary-text-color: #FFF;

html {
  height: 100%;
  font-size: 24px;
}

body {
  margin: 0 auto;
  max-width: 60%;
  background-color: #202020;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: $primary-font;
  color: $primary-text-color;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

p {
  font-size: 1em;
}

button {
  display: block;
  width: 100%;
  max-width: 23%;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: 1em;
  transition: background-color 0.5s, font-size 1s;

  &:hover, &:active {
    cursor: pointer;
    background-color: #2D2D2D;
    font-size: 1.2em;
  }

  &:focus {
    background-color: #2D2D2D;
    font-size: 1.2em;
    outline: none;
  }
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  text-align: left;
  margin-top: 5%;
}

.nav-bar {
  height: 10%;
  justify-content: space-between;
}

.main-content-container {
  height: 65%;
}

.about {
  display: none;
}

.projects {
  height: 100%;
  width: 100%;
  display: none;
}

.project-preview {
  height: 40%;
  width: 55%;
  margin: 0 auto;
}

.project-title {
  text-align: center;
}

.image-wrapper {
  width: 100%;
  background-color: #FFF;
  transition: box-shadow, 0.5s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px -2px #FFF;
  }
}

.preview-image {
  max-width: 100%;
  height: auto;
}

.title-anchor {
  text-decoration: none;
}

.paragraph-anchor {
  color: inherit;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
}

.active {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-content-wrapper {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: flex-start;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}

.modal-exit {
  float: right;
  font-family: $primary-font;
  color: $primary-text-color;
  font-size: 2em;

  &:hover, &:focus {
    cursor: pointer;
    color: #8C8C8C;
  }
}

.tools {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.tool-container {
  width: 33%;
  height: 50%;
  text-align: center;
}

.tool-icon {
  flex: 1;
  min-height: 0;
  object-fit: contain;
}
