html {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;

    font-size: 24px;
}

body {
    flex: 1;

    display: flex;
    flex-direction: column;
    
    background-color: $gray-200;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

p, button, figcaption {
    font-family: $body-font;
}

p {
    font-size: 1.25rem;
    margin-bottom: 25px;
}

a {
    color: $primary-300;
    text-decoration: underline;
}