.project-container {
    clear: both;
}

.project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}

.project-title {
    font-size: 3rem;
    margin: 0 15px;
    text-align: center;
    border-bottom: 5px solid black;
}

.project-title-decoration {
    flex: 1;
    color: black;
}

.project-examples-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;
}

.project-example {
    float: right;
    clear: right;
    text-align: center;
    margin: 0 0 30px 30px;
}

.project-example-img-landscape {
    width: auto;
    height: 300px;
}

.project-example-img-portrait {
    width: 200px;
    height: auto;
}

.project-example-img-shadow {
    box-shadow: 5px 5px 15px rgba(0,0,0,.7);
}

.project-example-img-caption {
    margin-top: 3px;
}

@mixin project--mobile() {
    .project-container {
        display: flex;
        flex-direction: column;
        clear: none;
    }

    .project-example {
        order: 1000;
        margin: 0 0 20px 0;
    }

    .project-example-img-landscape {
        width: 100%;
        height: auto;
    }

    .project-example-img-portrait {
        width: 150px;
        height: auto;
    }
}