.section-header {
    float: left;
    font-size: 5rem;
    margin-right: 30px;
    border-bottom: 10px solid black;
}

strong {
    color: $primary-300;
}

.section-hr {
    margin: 50px 0;
    color: $gray-400;
}