.section-header {
    float: left;
    font-size: 5rem;
    margin-right: 30px;
    border-bottom: 10px solid black;
}

.section-hr {
    margin: 50px 0;
    color: $gray-400;
}

@mixin section--mobile() {
    section {
        display: flex;
        flex-direction: column;
    }

    .section-header {
        align-self: center;
        float: none;
        font-size: 3.75rem;
        margin: 0 0 20px 0;
    }

    .section-hr {
        margin: 30px 0;
    }
}