section {
    margin-bottom: 50px;
}

.section-header {
    float: left;
    font-size: 5rem;
    margin-right: 15px;
    padding-bottom: 10px;
    border-bottom: 10px solid black;
}

.section-body-text {
    font-size: 1.5rem;
}