$primary-font: Poppins, sans-serif;
$primary-text-color: #FFF;

$mobile-sm-portrait-max-width: 300px;
$mobile-sm-landscape-max-width: 530px;

$mobile-md-portrait-min-width: $mobile-sm-portrait-max-width + 1px;
$mobile-md-portrait-max-width: 360px;

$mobile-md-landscape-min-width: $mobile-sm-landscape-max-width + 1px;
$mobile-md-landscape-max-width: 640px;

$mobile-lg-portrait-min-width: $mobile-md-portrait-max-width + 1px;
$mobile-lg-portrait-max-width: 450px;

$mobile-lg-landscape-min-width: $mobile-md-landscape-max-width + 1px;
$mobile-lg-landscape-max-width: 840px;

$tablet-sm-portrait-win-width: 600px;
$tablet-sm-portrait-max-width: 768px;

$tablet-sm-landscape-min-width: 960px;
$tablet-sm-landscape-max-width: 1024px;

$tablet-lg-portrait-min-width: $tablet-sm-portrait-max-width + 1px;
$tablet-lg-portrait-max-width: 1280px;

$tablet-lg-landscape-min-width: $tablet-sm-landscape-max-width + 1px;
$tablet-lg-landscape-max-width: 1366px;

$desktop-min-width: $tablet-lg-landscape-max-width + 1px;

@mixin mobile-sm-portrait {
  @media (max-width: #{$mobile-sm-portrait-max-width}) and (orientation: portrait) {
    @content;
  }
}

@mixin mobile-sm-landscape {
  @media (max-width: #{$mobile-sm-landscape-max-width}) and (orientation: landscape) {
    @content;
  }
}

@mixin mobile-md-portrait {
  @media (min-width: #{$mobile-md-portrait-min-width}) and (max-width: #{$mobile-md-portrait-max-width}) and (orientation: portrait) {
    @content;
  }
}

@mixin mobile-md-landscape {
  @media (min-width: #{$mobile-md-landscape-min-width}) and (max-width: #{$mobile-md-landscape-max-width}) and (orientation: landscape) {
    @content;
  }
}

@mixin mobile-lg-portrait {
  @media (min-width: #{$mobile-lg-portrait-min-width}) and (max-width: #{$mobile-lg-portrait-max-width}) and (orientation: portrait) {
    @content;
  }
}

@mixin mobile-lg-landscape {
  @media (min-width: #{$mobile-lg-landscape-min-width}) and (max-width: #{$mobile-lg-landscape-max-width}) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet-sm-portrait {
  @media (min-width: #{$tablet-sm-portrait-win-width}) and (max-width: #{$tablet-sm-portrait-max-width}) and (orientation: portrait) {
    @content;
  }
}

@mixin tablet-sm-landscape {
  @media (min-width: #{$tablet-sm-landscape-min-width}) and (max-width: #{$tablet-sm-landscape-max-width}) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet-lg-portrait {
  @media (min-width: #{$tablet-lg-portrait-min-width}) and (max-width: $tablet-lg-portrait-max-width) and (orientation: portrait) {
    @content;
  }
}

@mixin tablet-lg-landscape {
  @media (min-width: $tablet-lg-landscape-min-width) and (max-width: $tablet-lg-landscape-max-width) and (orientation: landscape) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  margin: 0;
  background-color: #202020;
}

header {
  height: 75px;
  margin: 11px 0;

  @include desktop {
    margin: 15px 0;
  }
}

h1, h2, h3, p {
  font-family: $primary-font;
  color: $primary-text-color;
}

h1 {
  margin: 0 0 0 20px;
}

h2 {

}

p {
  font-weight: lighter;
  font-size: 1rem;
}

button {
  width: 200px;
  height: 50px;
  background-color: #161616;
  border-width: 1px;
  border-style: solid;
  border-color: #878787;
  border-radius: 6px;
  font-family: $primary-font;
  font-size: 1rem;
  color: #878787;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out,
              color 0.2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: #FFF;
    color: #FFF;
    .btn-icon {
      filter: brightness(1);
    }
  }
}

::selection {
  color: #2D2D2D;
  background-color: #FFF;
  outline: none;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
}

.header-inner, .section-inner {
  background-color: #3B3B3B;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 5px;

  @include mobile-sm-portrait {
    max-width: 92%;
  }

  @include mobile-sm-landscape {
    max-width: 95%;
  }

  @include mobile-md-portrait {
    max-width: 94%;
  }

  @include mobile-md-landscape {
    max-width: 97%;
  }

  @include mobile-lg-portrait {
    max-width: 94%;
  }

  @include mobile-lg-landscape {
    max-width: 97%;
  }

  @include tablet-sm-portrait {
    max-width: 97%;
  }

  @include tablet-sm-landscape {
    max-width: 98%;
  }

  @include tablet-lg-portrait {
    max-width: 80%;
  }

  @include tablet-lg-landscape {
    max-width: 75%;
  }

  @include desktop {
    max-width: 60%;
  }
}

.header-content {
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin: 0 15px 0 0;
}

.nav-item {
  margin: 0 5px;
}

.nav-image {
  width: 40px;
  height: auto;
  filter: brightness(0.6);
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(1);
  }
}

.name-long {
  @include mobile-sm-portrait {
    display: none;
  }

  @include mobile-sm-landscape {
    display: none;
  }

  @include mobile-md-portrait {
    display: none;
  }

  @include mobile-lg-portrait {
    display: none;
  }
}

.name-abbrev {
  display: none;

  @include mobile-sm-portrait {
    display: block;
  }

  @include mobile-sm-landscape {
    display: block;
  }

  @include mobile-md-portrait {
    display: block;
  }

  @include mobile-lg-portrait {
    display: block;
  }
}

.preview-container {
  box-sizing: border-box;
  width: 50%;
  padding: 4px;
}

.preview-inner {
  position: relative;
}

.preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.2s linear;

  text-align: center;

  &:hover {
    opacity: 1;
  }
}

.project-thumb {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.shadow {
  box-shadow: 0 3px 5px #000;
}

.overlay-title {

}

.overlay-subtitle {
  color: #C3C3C3;
  margin: 0;
}

.overlay-btn-container {
  margin-top: 10%;
}

.btn-icon {
  height: 16px;
  width: auto;
  margin-left: 5px;
  filter: brightness(0.6);
  transition: filter 0.2s ease-in-out;
}

#project-container {
  padding: 5% 7% 9%;
  flex-wrap: wrap;
  justify-content: center;
}
